// bootstrap docs overrides
.bs-glyphicons
	li
		list-style: none
		&:hover
			background-color: #31B9EE
			
.wrapper-for-icon
	.icon
		font-weight: 400
		font-size: 250%
	.text
		padding-top: 12px
		word-wrap: break-word
