.jumbotron
	.container
		h1 Cengage Magma Framework
		p  The Cengage Magma Framework is a themed version of the popular HTML, CSS and JS framework Bootstrap. It will help develop responsive, mobile first projects on the web using the standard Cengage look and feel.

.container
	h2 Who Should Use This?
	p  All development for Mindtap should be using the Magma look and feel. Using this framework will give you a headstart in getting there.		
