.bs-docs-section

	h1#accessibility.page-header Accessibility

	p.lead Bootstrap follows common web standards and&mdash;with minimal extra effort&mdash;can be used to create sites that are accessible to those using <abbr title="Assistive Technology" class="initialism">AT</abbr>.

	include accessibility-content.ejs
