.bs-docs-section

	h1#template.page-header Basic Template

	p.lead Start with this basic HTML template, or modify <a href="#examples">these examples</a>. We hope you'll customize our templates and examples, adapting them to suit your needs.

	include basic-template-content.ejs
