.bs-docs-section

	h1#support.page-header Browser and device support

	p.lead Bootstrap is built to work best in the latest desktop and mobile browsers, meaning older browsers might display differently styled, though fully functional, renderings of certain components.

	include third-party-content.ejs
