.bs-docs-section

	h1#community.page-header Community

	P.lead Stay up to date on the development of Bootstrap and reach out to the community with these helpful resources.

	include community-content.ejs
