.bs-docs-section

	h1#grunt.page-header Compiling

	p.lead View the stash repo at <a href="http://stash.corp.web:7990/projects/CUX/repos/magma/browse">http://stash.corp.web:7990/projects/CUX/repos/magma/browse</a> for instructions on compiling Magma.

