.bs-docs-section

	h1#disable-responsive.page-header Disabling responsiveness

	p.lead Bootstrap automatically adapts your pages for various screen sizes. Here's how to disable this feature so your page works like in <a href="../examples/non-responsive/">this non-responsive example</a>.

	include disabling-responsiveness-content.ejs
