.bs-docs-section

	h1#examples.page-header Examples

	p.lead Build on the basic template above with Bootstrap's many components. We encourage you to customize and adapt Bootstrap to suit your individual project's needs.

	include examples-content.ejs
