.bs-docs-section

	h1#third-parties.page-header Third party support

	p.lead While we don't officially support any third party plugins or add-ons, we do offer some useful advice to help avoid potential issues in your projects.

	include third-party-content.ejs
