.bs-docs-section

	h1#alerts.page-header Alerts

	p.lead Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages. For inline dismissal, use the <a href="../javascript/#alerts">alerts jQuery plugin</a>.

	include alerts-content.ejs
