.bs-docs-section

	h1#badges.page-header Badges

	p.lead Easily highlight new or unread items by adding a <code><span class="badge"></code> to links, Bootstrap navs, and more.

	include badges-content.ejs
