.bs-docs-section
  h1#btn-groups.page-header Button groups

  p.lead Group a series of buttons together on a single line with the button group. Add on optional JavaScript radio and checkbox style behavior with <a href="../javascript/#buttons">our buttons plugin</a>.

  include button-groups-content.ejs
