.bs-docs-section
	
	h1#dropdowns.page-header Dropdowns
	
	p.lead Toggleable, contextual menu for displaying lists of links. Made interactive with the dropdown JavaScript plugin.

	include dropdowns-content.ejs
