.bs-docs-section
	h1#glyphicons.page-header Glyphicons

	h2#glyphicons-glyphs Available glyphs

	p Includes 200 glyphs in font format from the Glyphicon Halflings set. <a href="http://glyphicons.com/">Glyphicons</a> Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to <a href="http://glyphicons.com/">Glyphicons</a> whenever possible.

	include glyphicons-content.ejs
