.bs-docs-section
	h1#input-groups.page-header Input Groups

	p Extend form controls by adding text or buttons before, after, or on both sides of any text-based input. Use .input-group with an .input-group-addon to prepend or append elements to a single .form-control.

	include input-groups-content.ejs
