.bs-docs-section

	h1#list-group.page-header List group

	p.lead List groups are a flexible and powerful component for displaying not only simple lists of elements, but complex ones with custom content.

	include list-group-content.ejs
