.bs-docs-section
	h1#nav.page-header Navs

	p Navs available in Bootstrap have shared markup, starting with the base .nav class, as well as shared states. Swap modifier classes to switch between each style.

	include navs-content.ejs
