.bs-docs-section

	h1#pagination.page-header Pagination

	p.lead Provide pagination links for your site or app with the multi-page pagination component, or the simpler <a href="#pagination-pager">pager alternative</a>.

	include pagination-content.ejs
