.bs-docs-section

	h1#panels.page-header Panels

	p.lead While not always necessary, sometimes you need to put your DOM in a box. For those situations, try the panel component.

	include panels-content.ejs
