.bs-docs-section

	h1#progress.page-header Progress

	p.lead Provide up-to-date feedback on the progress of a workflow or action with simple yet flexible progress bars.
	
	include progress-bars-content.ejs	
