.bs-docs-section

	h1#thumbnails.page-header Thumbnails

	p.lead 	Extend Bootstrap's <a href="../css/#grid">grid system</a> with the thumbnail component to easily display grids of images, videos, text, and more.

	include thumbnails-content.ejs
